.navbar {
  background-color: #853873;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #ca8fbc;
}
.Bawah {
  background-color: #ca8fbc;
}
.btn {
}

#Project {
  background-color: #ca8fbc;
}

section {
  padding-top: 4rem;
}
